@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logoNav{
    height: 12vh;
    background-color: black;
    color: white;
    font-size: clamp(3vh,2vw,4vh);
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    }    
.container{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}
.subA,.subB{
    display: inline-block;
}
.textTitle{
    text-align: center;
}
img.logo{
    cursor: pointer;
    height: 15rem;
}
img.logo:hover{
    filter: grayscale(100);
}
img.svgAbstract{
    height: 15rem;
    filter: blur(0px);
}

@media (max-width:1000px){
    .subB{
        display: none;
    }
}