@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
*{
    margin: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.navbarMainElem nav{
    display: flex;
    width: 85%;
    justify-content: right;
}

.navbarMainElem{
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    box-shadow: 0px 0px 9px rgb(16, 41, 41);
    align-items: center;
}
.navbarMainElem nav ul{
    justify-content: space-between;
    display: flex;
}

.navbarMainElem nav ul li{
    list-style: none;
    margin-left: 10px;
}
.navbarMainElem nav ul li a{
    text-decoration: none;
    border-radius: 3px;
    transition: .4s all ease-in;
    border: 1px solid gray;
    padding: 10px;
    color: white;
}
.navbarMainElem nav ul li a:hover{
    background-color: white;
    color: black;
}
.navbarMainElem nav ul li a.active{
    background-color: white;
    color: black;
}


.logoNav{
    font-size: clamp(3vh,3vw,4vh);
    font-weight: 600;
}

.container{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}
.subA,.subB{
    display: inline-block;
}
.textTitle{
    text-align: center;
}
img.logo{
    cursor: pointer;
    height: 15rem;
}
img.logo:hover{
    filter: grayscale(90);
    }
    img.svgAbstract{
        height: 15rem;
        filter: blur(0px);
    }
    @media (max-width:1110px){
        .navbarMainElem nav{
            display: none;
        }
        .logoNav {
            width: 100%;
            text-align: center;
        }
 }