@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
.btnTypeA {
    cursor: pointer;
    margin-bottom: 7px;
    transition: all 0.5s ease-in-out;
    padding: 10px 20px 10px 20px;
    border: 1px solid gray;
    border-radius: 5px 5px 8px 8px;
    background-color: rgb(244, 248, 8);
    color: black;
    font-family: 'Signika Negative', sans-serif;
}
.btnTypeA:hover {
    box-shadow: none;
    box-shadow:inset 2px 37px  black;
    background-color: white;
    color: white;
}

#chkBtn{
    margin-left: 9px;
}
.btnTransform{
    transform-origin:center;
    transition: .3s all ease-in-out;
}
.btnTransform.changeSize,.changeSize{
    transform:scale(.9);
}

.goBackAndCHistory{
    margin: 10px;
}