@media (max-width: 1000px) {
    #divcalculator{
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 30px 80px;
        background-color: rgb(33, 39, 44);
        color: white;
        margin: auto;
        
        border: none;
    }
    body{
        overflow: hidden;
        background-image: none;
        
    }
}