@media (max-width: 1000px) {
    .forMobDivCalc{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav .logo{
        font-size: 25px;
        
    }
    .calculator{
        margin: 5px;
    }
    #divcalculator{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(33, 39, 44);
        color: white;
        margin: 10px 2px;
        height: auto;
        padding: 10px 0;
    }
    input{
        padding-left: 20px;
    }
    #heading{
        text-align: center;
        margin: 10px;
    }
    body{
        overflow: hidden;
        background-image: none;
        
    }
    button{
        margin: 1rem 0;
    }
    button[type="reset"]{
        margin-left: 1rem;
    }
    button[type="button"]{
        margin-left: 1rem;
    }
}



@media only screen and (min-width: 1001px) and (max-width: 1075px) {
    nav .logo,input{
        font-size: 20px;
    }
}