/* Mobile Styles */
@media (max-width: 1000px) {


    #output {
        font-size: 1rem;
    }

    table tr td,
    table tr th {
        padding: 0.5rem;
    }

    table {
        padding: 1rem;
        width: 100%;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 682px) and (max-width: 999px) {
    #container,
    .container {
        min-height: 65vh;
    }
}
