/* Container Styles */
#container,
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    width: full;
    min-height: 65vh;
    color: white;
    padding: auto;
    margin-right: auto;
}

#output {
    margin-bottom: 9px;
}

th,
td {
    padding: 10px 30px;
}
.container > div {
    margin: 0;
}
.errorArea {
    font-style: italic;
    margin: 10px;
    border-bottom: 2px solid rgb(0, 255, 208);
    border-radius: 3px;
}
/* Responsive Styles */

@media (max-width: 480px) {
    th,
    td {
        padding: 8px 20px;
    }
}
