#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    width: 60%;
    height: 65vh;
    color: white;
    background-size: 100% 100%;
    background-image: url("../Assests/bgContainer.jpg");
    background-color: black;
    margin-top: 50px;
    margin-left: auto;
    padding: auto;
    margin-right: auto;
}