@media (max-width: 1000px) {
    body{
        background-image: none;
    }
    #container{
        margin-top: 3rem;
        background-color: rgb(0, 0, 0);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: auto;
        padding:17vh 0 16vh 0;
        width: 95%;
        max-height: 65vh;
    }
    input{
        margin: 16px 0;
    }
}
@media only screen and (min-width: 682px) and (max-width: 999px) {
    #container{
        min-height: 65vh;
    }
}