@media (max-width: 1000px) {
    body{
        background-image: none;
    }
    #container{
        margin-top: 4rem;
        background-color: rgb(0, 0, 0);
        background-image: none;
        height: auto;
        padding: 10vh 0;
        width: 95%;
    }
    input{
        margin: 16px 0;
    }
}