input {
    padding: 11px;
    width: 20em;
    border-radius: 5px;
    border: 1px solid #464c4882;
    outline: none;
}

.submissionDiv {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.btnDiv {
    display: flex;
    align-items: center;
    margin-left: 5px;
}
