input {
    padding: 10px;
    margin-bottom: 20px;
    width: 20em;
    outline: none;
    border-radius: 4px;
}
.submissionDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2em;
}