@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    font-family: 'Signika Negative', sans-serif;
}
    body{
        background-color: rgb(19, 11, 11);
    }
    .MainAll{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: auto 0 auto 0;
        flex-direction: column;
    }
    li{
        list-style: none;
    }
    #listArea .liDiv{
        display: flex;
        margin: 10px;
        align-items: center;
        padding: 10px;
        width: 100%;
        font-size: medium;
        justify-content: space-between;
        border: 1px solid gray;
    }

    #listArea .liDiv button,#btnAdd{
        border: 1px solid gray;
        padding:5px 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: .2s all ease-in-out;
        background-color: rgb(249, 249, 52);
        margin-left: 10px;
    }
    #listArea div button:hover,#btnAdd:hover{
        background-color: rgb(208, 161, 104);
    }
    #listArea,.headTitle,.warning{
        color: white;
    }
    .headTitle{
        font-size: xx-large;
    }

.formMain{
    display: flex;
    scroll-behavior: smooth;
    height: auto;
    align-items: center;
    justify-content: center;
}


 #btnAdd{
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}
.formMain input{
    padding: 5px;
    width: 50vh;
    height: 30px; /* Set the desired height here */
}

.btnDesignClear{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition:.2s all ease-in-out;
    background-color: gold;
}
.btnDesignClear:hover{
    background-color: rgb(199, 175, 42);
}
@media (max-width: 1000px) {
    .formMain input {
        padding: 5px;
        width: 100%; /* Adjust the width as needed */
    }
    .formMain {
        display: flex;
        width: 150%;
        justify-content: space-between;
    }
    .MainAll {
        margin:0 10vh;
        display: flex;
        /* width: 70%; */
        justify-content: center;
        flex-direction: column; /* Add this line to stack elements vertically */
        align-items: center; /* Center align the elements */
    }
    #btnAdd {
        padding: 10px 15px;
        margin: 5px;
    }
}