.errorMessage{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    color: black;
    border-radius: 5px;
}
input{
    margin: 10px;
}

h3{
    background-color: black;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}
.resultDisplayArea{
    background-color: rgb(242, 242, 104);
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px 40px;
    border-radius: 5px ;
    align-items: center;
}
.weatherEmoji{
    font-size: 40px;
}
.loadingGif{
    background-color: black;
}