.custom-select {
    min-width: 350px;
    position: relative;
  }
  
  select {
    appearance: none;
    
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    background-image: url('arrowdown.svg');
    background-repeat: no-repeat; /* Custom arrow example */
    background-position: right;
    width: 100%;
    background-color: #131314;
    border: 1px solid #2c2c2c;
    min-width: 15em;
    font-size: 1rem;
    border-radius: 0.4rem;
    color: white;
    cursor: pointer;
  }