@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@media (width<=950px){
    #listArea .liDiv,.iterativeDiv, .liDiv{
        display: flex;
        align-items: center;
        border-bottom: 1px solid gold;
        max-width: 20rem;
        font-size: small;
    }
    #listArea .liDiv:hover,.iterativeDiv, .liDiv:hover{
        border-bottom: 1px solid goldenrod;
        cursor: pointer;
    }
    
    .btnsAddTask{
        display: flex;
        justify-content: center;
    }
    .headTitle{
        text-align: center;
        font-size: large;
    }
    .noListMessage{
        font-size: smaller;
    }
    .afterUsrInp{
        flex-direction: column;
    }
    .afterUsrInp > .categorySelectOption > #cateSelect{
        display: block;
    }
    .formMain > #usrVal{
        max-width: 110%;
        margin: 10px;
    }
    #btnAdd{
        margin-bottom: 0;
        height: 2.3rem;
        margin-top: 7px;
        width: max-content;
    }
    .listElem,.categoryNameShow {
        font-size: small;
    }
    .todoExpanded {
        
        z-index: 1000;
    }
    .todoExpanded form{
        border: 1px solid red;
        margin: 10px;
    }
}
@media (width <=852px){
    .categoryNameShow,.preAddSection{
        font-size: x-small;
    }
    .theIcon{
        scale: 0.8;
    }
    .lbiwrapper{
        display: none;
    }
    .liDiv{
        border-bottom: 1px solid rgb(37, 19, 19);
        display: flex;
        flex-direction: column;
    }
    .liDivInsideCategory{
        display: flex;
        flex-direction: row;
    }
    .miniDiv{
        display: flex;
        margin-left: auto;
        justify-content: end;
    }
    .listElem{
        width: 100%;
        display: flex;
    }
    .material-symbols-outlined{
        scale: 0.8;
    }
    .delAllSec,.btnTypeB,.btnTypeC{
        scale: 0.8;
    }

}

@media (width<500px){
    .mobile-three-dot{
        cursor: pointer;
    }
    .innerForMob{
        display: flex;
        align-items: center;
    }
    .tOfMob{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .tOfMob>h3{
        user-select: none;
        margin: auto;
        font-family:var(--defFont);
        font-weight: 400;
    }
    .btnMobileMenu{
        background-color: transparent;
        border: none;
        margin-right: 8px;
        margin-top: .3em;
        color: white;
    }
    .btnMobileMenu > .material-symbols-outlined{
        scale: 1.2;
    }
    .menuBarContainer{
        display: none;
    }

    .forMobile{
        width: auto;
        display: block;
        top:0;
        margin: 10px;
        color:white;

        position: absolute;
    }
     .mainInpArea{
        justify-content: center;
        max-width: 10em;
    }
    .mainInpArea >  .todoContentInInput {
        min-width: 17em;
        width: 10%;
    }
    .mainExpandedForm{
        justify-content: center;
        height: 25rem;
    }
    .categorySelectPopUpArea > #cateSelect{
        max-width: 2rem;
        min-width: 12em;
    }
}