.menuBarContainer{
    height: 100%;
    position: fixed;
    z-index: 100;
    min-width: 18%;
}
.menuBarContainerCollapsed{
    transition: all ease-in-out 200ms;
    min-width: 10vh;
}
.menuBar{
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1e1f20;
    transition: .2s all ease-in-out;
}
.toAreaOFCL{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.listOfCategories{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.logoutMain{
    margin-top: auto;
    margin-bottom: 2rem;

}
.settingMenu>.material-symbols-outlined{
    transition: 200ms all ease-in-out;
    user-select: none;
}
.settingsIconActive{
    rotate: 90deg;
}

.settingMenuName{
    user-select: none;
    margin: .2em;
}
.toBeHiddenAfterCollapse.settingMenu{
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid #1e1f20;
    transition: 200ms all ease-in-out;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;

}
.toBeHiddenAfterCollapse.settingMenu:hover{


    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    background-color: #2a2a2a;
}

.menuBar .navbar ul,
.iconOfCategoryAdd{
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
}
.iconOfCategoryAdd{
    justify-content: space-between;
    margin: 3vw;
    padding: .4rem;
    border: 1px solid #2c2c2c;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.toBeHiddenAfterCollapse[hidden=""] ~ .iconOfCategoryAdd{
    border-radius: 100%;
    cursor: pointer;
    padding: 10px;
}

.toBeHiddenAfterCollapse[hidden=""] ~ .iconOfCategoryAdd:hover{
    background-color: #323232;
    transition: .3s all ease-in-out;
}

.toBeHiddenAfterCollapse[hidden=""] ~ .iconOfCategoryAdd > #addMSR:hover{
    background-color:initial;
}
#addMSR:hover{
    transition: all ease-in-out 400ms;
    border-radius: 100%;
    background-color: rgb(54, 54, 54);
}
.hTagForTitleOfCategory{
    cursor: pointer;
    border-bottom: 1px solid rgb(255, 95, 95);
    padding: 10px;
}
.cateTitle{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(28, 50, 55);
    padding: 10px;
    text-align: center;
    margin: 10px;
}
.noCategoryMessage {
    text-align: center;
    margin: 1.5em;
    transition: 200ms all linear;
    cursor: default;
    user-select: none;
}
.noCategoryMessage:hover{
    text-shadow:1px 1px 30px #eaff47;
}
.material-symbols-rounded{
    cursor: pointer;
}

.collapsedSidebar{
    display: flex;
    min-width: 9vh;
}

.categoryListing{
    width: clamp(11rem,12rem,13rem);
    margin: 4px;
    transition: .1s all ease-in-out;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    height: 3.1em;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #3a3b3c;
}
.activePopup> .material-symbols-outlined{
    margin-top: 5px;
}
.activePopup>.material-symbols-outlined:hover{
    color: #eaff47;

}
.categoryListing:hover{
    background-color: #004a77;
}
#categoryListingSideBarText{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
}
.collapsedSidebar.navbar.cateTitle{
    display: flex;
    justify-content: center;
}
.menuBarContainerCollapsedMobile{
    transition: all ease-in-out 200ms;
}
.logout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.activeCategoryInSideBar{
    color: #a9d3ee;
    border: none;
    background-color: #004a77;
}
.categoryDelBtn:hover{
    color:rgb(214, 83, 23);
}
.categoryDelBtn:active{
    transform: scale(.9);
} 
.listOfCategoriesParent{
    position: relative;
    scrollbar-width: none;
    max-height: 50vh;
    overflow-x: auto;
}
.popup-container{
    position: absolute;
}
.popup-container-min{
    position: relative;
}
.popup-container-parent {
    position: fixed;
    height: 100vh;
    width: 100%;
    color: white;
    top: 0;
    left: 0;
}
.popup-container-min-rename-section-inside{
    display: flex;
}
.popup-container-min,.popup-container-min-rename-section{
    cursor: pointer;
    height: 2rem;
    margin: 5px 10px ;
    display: flex;
    width: 11.9em;
    padding: 1em;
    align-items: center;
    transition: 200ms ease-in-out all;
    background-color: #1e1f20;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.popup-container-min:hover,.popup-container-min-rename-section:hover{
    background: #2a2a2a;
}

.popup-container-min:active,.popup-container-min-rename-section:active{
    background-color: #515151;
}
.arrow-back{
    margin: .3em;
    transform: scale(1.3);
    user-select: none;
    transition: ease-in-out all 200ms;
    cursor: pointer;
}
.arrow-back:hover{
    color: aliceblue;
}
.arrow-back:active{
    transform: scale(1.2);
}
.iconDiv{
    user-select: none;
}
.popup-container-min-rename-section-inside > .material-symbols-outlined{
    height: 1px;
    user-select: none;
}
.settingOptionPopupWrapper{
    position: absolute;
    margin-left: 26.6rem;
}

.listOfCategoriesParent::-webkit-scrollbar{
    display: none;
}

.settingOptionPopup{
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width:11em;
    margin-bottom: 2em;
    transition: 200ms ease-in-out all;
    user-select: none;
    display: flex;
}

.changeNameSettings:hover{
    background-color: #2a2a2a;

}
.changeNameSettings{
    background-color: #1e1f20;
    display: flex;
    padding: .2em;
    padding-right: 10px;
    align-items: center;
    border: none;
    border-radius: 4px;
}

.iconOfEditSetting{
    margin-top: 5px;
}
.logoutBtnIcon{
    position: absolute;
    right: 0;
    cursor: pointer;
    margin-right: .5em;
    user-select: none;
    margin-bottom: .3em;
    bottom: 0;
}
.logoutBtnIcon:hover{
    color: #d3d6b8;
}