.menuBarContainer{
    height: 100%;
    width: 18%;
    position: absolute;
}
.menuBar{
    height: 100%;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1e1f20;
    width: 100%;
    transition: .2s all ease-in-out;
}
.logoutMain{
    margin-top: auto;
    margin-bottom: 2rem;

}
.settingMenu>.material-symbols-outlined{
    transition: 200ms all ease-in-out;
    user-select: none;
}
.settingsIconActive{
    rotate: 90deg;
}
.settingMenuName{
    user-select: none;
    margin: .2em;
}
.toBeHiddenAfterCollapse.settingMenu{
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid #1e1f20;
    transition: 200ms all ease-in-out;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;

}
.toBeHiddenAfterCollapse.settingMenu:hover{


    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    background-color: #2a2a2a;
}

.menuBar .navbar ul,
.iconOfCategoryAdd{
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
}
.iconOfCategoryAdd{
    justify-content: space-between;
    margin: 3vw;
    padding: .4rem;
    border: 1px solid rgb(197, 200, 112);
    border-radius: 8px;
}

#addMSR:hover{
    color: rgb(255, 249, 88);
}
.hTagForTitleOfCategory{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
}
.cateTitle{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(28, 50, 55);
    padding: 10px;
}
.noCategoryMessage {
    text-align: center;
    margin: 1.5em;
    transition: 200ms all linear;
    cursor: default;
    user-select: none;
}
.noCategoryMessage:hover{
    text-shadow:1px 1px 30px #eaff47;
}
.cateTitle{
    text-align: center;
    margin: 10px;
}
.material-symbols-rounded{
    cursor: pointer;
}

.collapsedSidebar{
    display: flex;
    width: 9vh;
}

.categoryListing{
    width: clamp(11rem,12rem,13rem);
    margin: 4px;
    transition: .1s all ease-in-out;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    height: 3.1em;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #3a3b3c;
}
.activePopup> .material-symbols-outlined{
    margin-top: 5px;
}
.activePopup>.material-symbols-outlined:hover{
    color: #eaff47;

}
.categoryListing:hover{
    background-color: #004a77;
}
#categoryListingSideBarText{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
}
.collapsedSidebar.navbar.cateTitle{
    display: flex;
    justify-content: center;
}

.logout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.activeCategoryInSideBar{
    color: #a9d3ee;
    background-color: #004a77;
}
.categoryDelBtn:hover{
    color:rgb(214, 83, 23);
}
.categoryDelBtn:active{
    transform: scale(.9);
}
.popup-container{
    display: flex;
}
.popup-container-parent {
    user-select: none;
}
.popup-container-parent-min-content{
    position: fixed;
    border: none;
    cursor: default;
    height: 30vh;
    margin-left: 2em;
}
.popup-container-min,.popup-container-min-rename-section{
    cursor: pointer;
    height: 2rem;
    display: flex;
    padding: 1.1em;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in-out all;
    background-color: #1e1f20;
    margin-left: 3rem;
    margin-bottom: 2rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.popup-container-min-rename-section{
    margin-bottom: .3rem;
}

.popup-container-min:hover,.popup-container-min-rename-section:hover{
    background: #2a2a2a;
}

.popup-container-min:active,.popup-container-min-rename-section:active{
    background-color: #515151;
}
.popup-container-spacer{
    cursor: default;
    position: fixed;
    margin-left: 20px;
    height: 20vh;
    padding-right: 90px;
    border: none;
} 

.settingOptionPopupWrapper{
    position: absolute;
    margin-left: 26.6rem;
}

.settingOptionPopup{
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width:11em;
    margin-bottom: 2em;
    transition: 200ms ease-in-out all;
    user-select: none;
    display: flex;
}

.changeNameSettings:hover{
    background-color: #2a2a2a;

}
.changeNameSettings{
    background-color: #1e1f20;
    display: flex;
    padding: .2em;
    padding-right: 10px;
    align-items: center;
    border: none;
    border-radius: 4px;
}

.iconOfEditSetting{
    margin-top: 5px;
}