@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
    --defFont: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

*{
    font-family: var(--defFont);
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body,.headTitle{
    margin: 0;
    scroll-behavior: smooth;
    background-color: #131314;
}
.headTitle{
    margin: 15px;
}
.MainAll{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    flex-direction: column;
    color: white;
    height: min-content;
    padding: 50px;
}

select{
    width: 22vh;
    border: 1px solid rgb(41, 38, 8);
    padding: 4px;
    border-radius: 5px;
    height: 5vh;
}
.MainAll .formMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.afterUsrInp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MainAll .formMain #usrVal{
    padding: 15px;
    margin-right: 4px;
    height: 2.5rem;
    font-family: var(--defFont);
    width: 25rem;
}

.warning{
    margin: 10px 10px 0 10px;
    border: 1px solid gray;
    padding: 6px;
    color: black;
    border-radius: 10px;
    background: rgb(227, 224, 0);
}
.liDiv button{
    margin: 5px;
}
.preAddSection{
    display: flex;
    margin: 10px;
    align-items: center;
}
#preAddBtn,.checkIcon{
    margin-left: 10px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
.checkIcon:hover,.checkIcon.material-symbols-outlined:hover{
    color: rgb(10, 227, 230);    
}
#preAddBtn:hover{
    color: rgb(232, 255, 22);
    border-radius: 100px;
}

.btnTypeB{
    background-color: #dc4c3e;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btnTypeB:hover{
    background-color: #ae2b1f;
}

li{
    list-style: none;
}

#listArea{
    overflow-x: hidden;
    margin: 10px;
}

#listArea .liDiv,.iterativeDiv, .liDiv{
    display: flex;
    border-radius: 8px;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    transition: .2s all linear;
    color: white;
    border: 1px solid rgb(29, 22, 22);
    min-width: 100vh;
    max-width: 110vh;
    height: auto;
    justify-content: space-between;
    padding: 10px;
}
.categoryNameShow{
    border: 1px solid rgb(50, 54, 28);
    padding: 5px;
    font-size: .8rem;
    border-radius: 8px;
}
#listArea .liDiv:hover,.iterativeDiv, .liDiv:hover{
    border: 1px solid rgb(51, 47, 23);
    box-shadow: 1px 1px 15px rgb(51, 47, 23);
    cursor: pointer;
}

.listElemCate{
    background-color: rgb(28, 22, 22);
    display: flex;
justify-content: center;
margin: 10px;
}


/* New User Interface design */



.newUsrView{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
    color: white;
}
.newUsrView h3{
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    width: 20rem;
}
.newUsrView .inputsNew input[type="text"]{
    margin: 5px;
    padding: 5px;

    height: 3em;
    border-radius: 4px;
    width: 15rem;
}
.infoOfStorage{
    width: 20em;
}
.newUsrView .inputsNew input[type="submit"]{
    height: 3em;
    width: 4em;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 246, 126);
    border: none;
    transition: .2s all ease-in-out;
}
.btnShow{
    padding: 5px;
    border: 1px solid #8c8a07;
    border-radius: 5px;
    transition: .2s all linear;
    color: white;
    background-color: rgb(46, 35, 23);
    cursor: pointer;
}
.btnShow:hover{
    background-color: #6e6d3c;
}
.newUsrView .inputsNew input[type="submit"]:hover{
background-color: rgb(220, 200, 96);
}


/* new user view css ends here  */


.totalTaskCount{
    margin: 10px;
}
.titleOfNewCategory{
    font-size: 1.5em;
    margin-bottom: 7px;
    text-align: center;
}

#btnCancel.btnTypeC{
    margin: 7px;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#btnCancel.btnTypeC:hover{
    background-color: #f5f5f5;
}
.noListMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.material-symbols-rounded{
    user-select: none;
}
.material-symbols-rounded:active{
    transform: scaleX(.9);
}


.listOfCategories{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.divOfCategory{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    align-items: center;
    color: white;
}

.activeCategory{
    background-color: #8c8a07;
}


.AddCategoryPopUP #newCategoryForm{ 
    border: 1px solid rgb(46, 39, 17);
    background-color: rgb(10, 21, 20);
    height: 15rem;
    width: 25rem;
    border-radius: 1.7em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.AddCategoryPopUP {
    position: fixed;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    background-color: #0d0d0e78; 
    color: white;
}
#newCategoryForm label{
    text-align: center;
}
#cateAddBtn, #cateCancelBtn,#cateName{
    margin: 10px;
}

.btnsCate{
    display: flex;
    justify-content: end;
    align-items: center;
}
#cateAddBtn:hover,#cateCancelBtn:hover{
    background-color: #0056b3;
    transition: background-color .5s cubic-bezier(0.4, 0, 1, 1.5);
}
#cateAddBtn,#cateCancelBtn{
    background: #007bff;
    color: white;
    height: 3em;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    transition: .2s all linear;
    width: 12vh;
}
#cateName{
    font-size: 1rem;
    padding: .7rem;
    min-width: 20rem;
    min-height: 6vh;
}


.iterateDiv{
    margin: 2vw;
}

.dangerZone{
    bottom: 0;
    right: 0;
    margin: 5vw;
    cursor: default;
    display: flex;
    border-radius: 1vw;
    justify-content: space-between;
    width: minmax(10vw,20vw);
    border: 1px solid rgb(20, 138, 124);
    padding: 10px;
    position: fixed;
    color: white;
}
.dangerZone > button{
    color: rgb(235, 66, 66);
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.dangerZone > h4{
    text-align: center;
}
.dangerZone button:hover{
    color: rgb(255, 0, 0);
}
.divOfCategory h3{
    margin: 10px;
    min-height: 1vh;
}
.listElem{
    font-size: .99rem;
}
.listElem:hover{
    color: rgb(255, 251, 169);
}
.miniDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}


.add-cate-title{
    margin: 3px;
}
.warningCateSection{
    text-align: center;
}