.todoExpanded{
    position: fixed;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    background-color: #0d0d0e78; 
    color: white;
}
.titleMainEF,.warningAreaOTE{
    text-align: center;
}
.titleMainEF{
    font-size: 1.1em;
    padding: 5px;
    border-bottom: 1px solid rgb(187, 184, 76);

}
.todoExpanded form{
    border: 1px solid rgb(17, 29, 32);
    background-color: #1e1e1e;
    border-radius: 2em;
    display: flex;
    align-items: center;
    min-width: 40%;
    flex-direction: column;
    padding: 7em;
}
.mainExpandedForm > div{
    margin: 1em;
}

.todoContentInInput{
    height: 2.6em;
    font-size: 1.1em;
    border-radius: 5px;
    min-width: 23rem;
    padding: 4px;
    max-width: 19em;
    border:1px solid #2c2c2c;
}
.todoContentInInput:focus{
    outline: none;
}
.whenReadOnly{
    height: 2.6em;
    background-color: inherit;
    color: white;
}
.mainInpArea{
    display: flex;
    align-items: center;
}
.subBtnArea{
    display: flex;
    margin-left: .3em;
}
.subBtnArea > button{
    padding: 10px;
    width: 5em;
    margin: 5px;
    border: none;
    background: #312f2f ;
    cursor: pointer;
    color: #ffffff ;
    border-radius: 5px;
}

.tECEBandSelect{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subBtnArea > button:hover{
    transition: background-color .3s cubic-bezier(0.4, 0, 1, 1.5);
    background: #494040;
}
.categorySelectPopUpArea select{
    -webkit-appearance: none;  /* Remove default styling (cross-browser) */
    -moz-appearance: none;
    appearance: none;
    padding: 6px;
    background: #454545;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    width: 15em;
}
.editTypeBorderColor{
    cursor: pointer;
    scale: 1.2;
    margin: 10px;
    user-select: none;
}