

.todoExpanded{
    position: fixed;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    z-index: 1000;
    width: 100%;
    background-color: #0d0d0e58; 
    color: white;
}
.titleMainEF,.warningAreaOTE{
    text-align: center;
}
.titleMainEF{
    color: var(--default-text-color);
    font-size: 1.1em;
    padding: 5px;
    border-bottom: 1px solid rgb(187, 184, 76);

}
.todoExpanded form{
    border: 1px solid var(--default-border-color);
    background-color: var(--default-bg-color);
    border-radius: 2em;
    display: flex;
    align-items: center;
    min-width: 40%;
    flex-direction: column;
    padding: 7em;
}
.mainExpandedForm > div{
    margin: 1em;
}
.popup-container-parent {
    z-index: 100;
}
.todoContentInInput.whenReadOnly{
    color: var(--default-text-color) !important;
}
.todoContentInInput:read-write{
    border-bottom: 1px solid rgb(65, 81, 3);
    color: white;
    border-radius: 5px;
    background-color: var(--default-bg-color);
}
.todoContentInInput{
    height: 2.6em;
    font-size: 1.1em;
    border-radius: 5px;
    min-width: 23rem;
    padding: 4px;

    border:1px solid var(--default-border-color);
}
.todoContentInInput:focus{
    outline: none;
}
.whenReadOnly{
    height: 2.6em;
    background-color: inherit;
    color: white;
}
.mainInpArea{
    display: flex;
    align-items: center;
}
.subBtnArea{
    display: flex;
    margin-left: .3em;
}
.showEditHistoryBtn{
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: #4f5a58;
    color: white;
    margin: 1em;
    cursor: pointer;
}
.showEditHistoryBtn:hover{
    background-color: #29433e;
    transition: all .3s cubic-bezier(0.4, 0, 1, 1.5);
}
.subBtnArea > button{
    padding: 10px;
    width: 5em;
    margin: 5px;
    border: 1px solid var(--default-border-color);
    background: #312f2f ;
    cursor: pointer;
    color: var(--default-text-color) ;
    border-radius: 5px;
}

.tECEBandSelect{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subBtnCancel,.subBtnMain{
    border: none !important;
    color: white !important;
}
.subBtnCancel:hover,.subBtnM:hover{
    transition: all .3s cubic-bezier(0.4, 0, 1, 1.5);
    background: rgb(44, 55, 57);
}

.categorySelectPopUpArea select{
    -webkit-appearance: none;  /* Remove default styling (cross-browser) */
    -moz-appearance: none;
    appearance: none;
    padding: 6px;
    background: #454545;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    min-width: 15em;
}
.editTypeBorderColor{
    cursor: pointer;
    color: var(--default-text-color);
    scale: 1.2;
    margin: 10px;
    user-select: none;
}