.todoExpanded{
    position: fixed;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    color: white;
}
.titleMainEF,.warningAreaOTE{
    text-align: center;
}
.titleMainEF{
    font-size: 1.1em;
    padding: 5px;
    border-bottom: 1px solid rgb(80, 79, 53);

}
.todoExpanded form{
   border: 1px solid rgb(35, 35, 25);
   background-color: #071312 ;
   box-shadow: 0px 3px 50px rgb(40, 40, 27);
   border-radius: 2em;
   display: flex;
   align-items: center;
   width: 40%;
   flex-direction: column;
   padding: 7em;
}
.mainExpandedForm > div{
    margin: 1em;
}

.todoContentInInput{
    height: 2.6em;
    font-size: 1.1em;
    border-radius: 5px;
    width: 16em;
    max-width: 19em;
    border: 1px solid #131d19;
}
.todoContentInInput:focus{
    outline: none;
}
.whenReadOnly{
    height: 2.6em;
    padding:4px;
    background-color: inherit;
    color: white;
}
.mainInpArea{
    display: flex;
    align-items: center;
}
.subBtnArea{
    display: flex;
    justify-content: center;
}
.subBtnArea > button{
    padding: 10px;
    width: 5em;
    margin: 5px;
    border: none;
    background: #007bff ;
    cursor: pointer;
    color: #ffffff ;
    border-radius: 5px;
}
.subBtnArea > button:hover{
    transition: background-color .5s cubic-bezier(0.4, 0, 1, 1.5);
    background: #0056b3;
}
.categorySelectPopUpArea select{
    background-color: #111d18;
    color: white;
    width: 15em;
}
.editTypeBorderColor{
    cursor: pointer;
    position: absolute;
    margin-left: 11.9em;
    user-select: none;
}